<section>
  <div class="container">
    <header>
      <h1>PySys ERP Web Console</h1>
    </header>
    <div id="container_demo">
      <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
      <div id="wrapper">
        <div id="login" class="animate form">
          <form id="loginForm">
            <h1> Acesso </h1>
            <p>
              <label for="username" class="uname" data-icon="u"> Usu&aacute;rio </label>
              <input id="username" name="username" required="required" type="text"
                     placeholder="johndoe69"/>
            </p>
            <p>
              <label for="password" class="youpasswd" data-icon="p"> Password </label>
              <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
            </p>
            <p class="keeplogin">
              <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping"/>
              <label for="loginkeeping">Mantenha-me logado</label>
            </p>
            <p class="login button">
              <input type="submit" value="Acessar"/>
            </p>
            <p class="change_link">
              Ainda n&atilde;o &eacute; membro ?
              <a [routerLink]="'/registration'" class="to_register">Junte-se a n&oacute;s</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
