pytz==2019.3
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
Flask-Cors==3.0.8
SQLAlchemy==1.3.12
psycopg2-binary==2.8.4
pymongo==3.10.1
six==1.13.0
mongoengine==0.19.1
celery==4.4.0
gevent==1.4.0
Pillow==6.2.1
redis==3.3.11
aiohttp==3.6.2
aioredis==1.3.1
rabbitmq==0.2.0
Numpy==1.17.4
Scipy==1.4.0
gunicorn==20.0.4
requests==2.22.0